{% extends 'Creators/basic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<style>
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}
</style>
{% endblock %}
{% block body %}
<center>
    <div style="background-color:white;width:600px;margin-top:10px;border-radius: 20px;">
        <h1 style>Questions</h1>
       <br/> <center><button onclick="document.getElementById('Question').style.display='block'" style="margin:10px 10px 10px 10px;background-color:#00022E ;color:white; font-weight:500;height: 37px;">Add a Question</button>
    <a class="btn " href="/" style="margin:10px 10px 10px 10px;background-color:#00022E ;color:white; font-weight:500;">Submit</a>
    </div>
</center>

<div id="Question" class="modal " >
    <center>
    <span onclick="document.getElementById('Question').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
    <!--
    <div class="imgcontainer">
      <img src="C:\Users\himan\Downloads\bootstrap-5.0.0-beta3-dist (1)\bootstrap-5.0.0-beta3-dist\images\img_avatar.jpg"alt="Avatar" class="avatar">
    </div>
  -->

<form method="POST" enctype="multipart/form-data" class="modal-content" id="perform" >
    <center><b style="color:black;">Enter your question</b></center>
        {% csrf_token %}
        {{ form|crispy }}
       <br/> <center><button class="btn " type="submit" style="margin:10px 10px 10px 10px;background-color:#00022E ;color:white; font-weight:500;">Submit</button></center>
</form>
</div>
</center>

{% endblock %}